<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
            <p>I am currently seeking a role as a dynamic executive assistant where I can not only provide the logistical support necessary to help my team meet their goals, but also create flawless events where my team can grow, learn and shine.</p>

            <p>As an administrator, I am proficient at managing multiple schedules, handling small details and anticipating the hiccups that will prevent continuous flow. As an event manager, I know what it takes to create, coordinate and manage all the different components of a team retreat, meet up or conference to meet company goals and budget. I enjoy managing multiple and ever changing schedules and projects and believe that no job is to small when it comes to the overall team's success.</p>

        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">ACE Certified Personal Trainer</h3>
          <h4 class="resume-item-details">&bull; May 2017 &mdash; Present</h4>
          <p class="resume-item-copy">I work with clients to identify their health and fitness goals and then design a program that will help them achieve success specific to their goals. This includes motivational coaching, designing a progressive workout program and implementing a plan to prevent regression.</p>

          <p>I obtained this certification through self-study, research and hours of practice. I have the passion and grit it takes to pick up new things quickly and accurately. My client approach centers around empathy and is results driven. It starts with understanding where they are currently at and helping them take the necessary steps to achieve their individual goals.</p>


        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Kenbrook Bible Camp</h3>
          <h4 class="resume-item-details">Director of Camp Ministries &bull; October 2007 &mdash; November 2011</h4>
          <p class="resume-item-copy">Responsible for the vision, direction and implementation of our summer camp programs. Some specifics:</p>
          <ul class="resume-item-list">
            <li>Hire and train a team of approximately fifty seasonal staff and volunteers to effectively serve the 900 children and youth that participated in our residential camps</li>
            <li>Develop rapport and trust between team members and create an efficient and enjoyable workplace environment</li>
            <li>Remove barriers that hinder workflow and progress</li>
            <li>Problem solve and iterate day to day to keep things moving</li>
            <li>Handling disgruntled guests, parental complaints and staff conflict in a positive, professional manner</li>
            <li>Being the point person for any needs, concerns or feedback and ensuring a quality customer experience that goes above and beyond expectations</li>
            <li>Motivational speaking, pitching our summer camps and networking with local organizations</li>


        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Shadyside Surgicenter</h3>
          <h4 class="resume-item-details">Executive Assistant and Receptionist &bull; January 2007 &mdash; October 2007</h4>
          <p class="resume-item-copy">I was hired by Dr. Capone to be the 'first face you see' when entering his plastic surgery practice. My primary job was to warmly welcome new patients, make them feel comfortable while they waited and handle any questions or concerns they had. I also handled phone calls, scheduling and confirming appointments, keeping the doctors personal schedule, and providing overall office support for the practice.</p>

        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">Commonwealth of Pennsylvania</h3>
          <h4 class="resume-item-details">Clerk Typist for the Lieutenant Governor's Office &bull; June 2006 &mdash; December 2006</h4>
          <p class="resume-item-copy">Providing clerical and administrative support to Lt. Governor Catherine Baker-Knoll and her staff, my specific duties included greeting visitors, answering telephones and directing callers to appropriate personnel or state agency, processing requests for proclamations and assisting the Lt. Governor and her staff in a multitude of day-to-day activities to ensure the smooth running of the Lt Governor's Office.</p>

          <p>I was specifically chosen for this role due to my ability to thrive in a fast paced, demanding office environment  as well as my excellent interpersonal skills, flexibility and time management skills.</p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Eastern University</h3>
          <h4 class="resume-item-details">Bachelor's Degree, Youth Ministry and Theology &bull; 2002 &mdash; 2006</h4>
          <p class="resume-item-copy">In addition to my studies, I was a part of the Leadership Fellow's Program which aimed to advance and support students’ understanding and demonstration of servant leadership within the campus community and the global community at large. I also served as a Resident Advisor for three years. </p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Leader</h4>
          <p class="resume-item-copy">I am a self-starter and an excellent time manager.  I am passionate about what I do and lead by serving those around me. People are drawn to me because I am kind, have a sense of humor and they know I genuinely care about them beyond what they can do for me.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Organizer and Adminsitrator</h4>
          <p class="resume-item-copy">Type A personality with the insane drive to get stuff done. LOTS done.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Project Management</h4>
          <p class="resume-item-copy">I have the unique gifting of not only casting vision but also knowing the various steps it takes to get there from planning, to implementation, to evaluation and iteration.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Customer Service</h4>
          <p class="resume-item-copy">Seeing needs and meeting them. I enjoy exceeding expectations in order to make a customer's experience perfect.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Teachable</h4>
          <p class="resume-item-copy">Although I am very confident in what I have to bring to the table, I also know that there are many people who know so much more than me.  I want to surround myself with those people.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Resume template made by <a href="http://twitter.com/jglovier">@jglovier</a>.</p>
        <p class="footer-line">Hosted on GitHub Pages. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
      </footer>

    </div>

  </body>

</html>
